body {
   margin: 0;
   padding: 0;
}

#app {
   position: relative;
   width: 100dvw;
   height: 100dvh;
   overflow: hidden;
   background: #000;
}

.window {
   position: absolute;
   left: 0;
   top: 0;
}

#debug {
   position: absolute;
   left: 0;
   top: 0;
   color: #fff;
   font-size: 12px;
   font-family: monospace;
   padding: 10px;
   background: rgba(0, 0, 0, 0.5);
   z-index: 100;
}