body {
   margin: 0;
   padding: 0;
}

#app {
   position: relative;
   width: 100dvw;
   height: 100dvh;
   overflow: hidden;
   background: #000;
}

.window {
   position: absolute;
   left: 0;
   top: 0;
}