body {
    font-family: Inter, sans-serif;
    background-color: black;
    color: white;

    padding: 0;
    margin: 0;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    perspective: 300px;
    overflow: hidden;
}

.element {
    background-color: red;
    padding: 5rem;
    display: inline-block;

    transform: matrix3d(
        1, 0, 0, 0,
        0, 1, 0, 0,
        0, 0, 1, 0,
        0, 0, 999, 1
    );
}

#debug {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
}

.window {
    position: absolute;
}